OPENAI_API_KEY=
OPENAI_ASSISTANT_ID=asst_6WvVLZShcLqVHgqJTQo33JTp
SUPABASE_URL=
SUPABASE_KEY=

MERCOS_BASE_URL=https://sandbox.mercos.com/api
MERCOS_APPLICATION_TOKEN=
MERCOS_COMPANY_TOKEN=
PRODUTOS_FONTE=

ULTRAMSG_INSTANCE_ID=instance182449
ULTRAMSG_TOKEN=
