OPENAI_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=

MERCOS_BASE_URL=https://sandbox.mercos.com/api
MERCOS_APPLICATION_TOKEN=
MERCOS_COMPANY_TOKEN=
PRODUTOS_FONTE=auto

ULTRAMSG_INSTANCE_ID=instance182449
ULTRAMSG_TOKEN=
